# YOLO Pipeline Environment Variables
# Copy this file to .env and modify the values as needed

# Data folder for FiftyOne datasets
DATA_FOLDER=data

# Dataset names
TRAIN_DATASET_NAME=train_5000
VAL_DATASET_NAME=val_500
TEST_DATASET_NAME=test_500

# YOLO training folder path
YOLO_TRAIN_FOLDER=data/yolo/train

# YOLO image folders
YOLO_TRAIN_IMAGES=data/yolo/train/images/train
YOLO_VAL_IMAGES=data/yolo/val/images/val
YOLO_TEST_IMAGES=data/yolo/test/images/test

# Best model path
YOLO_BEST_MODEL_PATH=yolo/runs/optuna/best_model.pt

# Training parameters
NUM_TRAIN=4000
NUM_VAL=600
NUM_TEST=600
N_TRIALS=50

# Training parameters
EPOCHS=50           # número fijo de épocas por trial

# --- Tasas de Aprendizaje ---
LR0_MIN=0.0001
LR0_MAX=0.01
LRF_MIN=0.01
LRF_MAX=0.5

# --- Aumentación Geométrica ---
DEGREES_MIN=0.0
DEGREES_MAX=45.0
TRANSLATE_MIN=0.0
TRANSLATE_MAX=0.3
SCALE_MIN=0.1
SCALE_MAX=0.6
SHEAR_MIN=0.0
SHEAR_MAX=10.0

# --- Aumentación de Color ---
HSV_S_MIN=0.2
HSV_S_MAX=0.8
HSV_V_MIN=0.2
HSV_V_MAX=0.7

# --- Mixing ---
MIXUP_MIN=0.0
MIXUP_MAX=0.4

# Model parameters
# 

WORKERS=2
IMAGE_SIZE=1024
BATCH_SIZE=24


PERSPECTIVE=0.0001   # perspectiva ligera
FLIPUD=0.0           # solo si objetos pueden estar invertidos
FLIPLR=0.5           # flip horizontal por defecto
HSV_H=0.015          # hue (por defecto)
MOSAIC=1.0           # activo
CLOSE_MOSAIC=10      # desactiva mosaic últimas 10 épocas




# Classes to train
CLASSES=Cat,Dog




#single train
MODEL_NAME=yolov8n.pt
FINAL_IMAGE_SIZE=1024
FINAL_BATCH_SIZE=16
FINAL_WORKERS=4
FINAL_DATA_FOLDER=data/yolo/train

FINAL_TRAIN_FOLDER=data/yolo/train/images/train
FINAL_VAL_FOLDER=data/yolo/val/images/val
FINAL_TEST_FOLDER=data/yolo/test/images/test






CLASSES=Screwdriver
final_epochs=150
final_lr0=0.00028651020734006625
final_lrf=0.07405555668235508
final_degrees=0.005112472864190143
final_translate=0.157644446185107
final_scale=0.33440688584633627
final_shear=5.225681584746484
final_hsv_s=0.7230582567896858
final_hsv_v=0.2234442907654164
final_mixup=0.26118355294063333
